.post-title h1{
    font-size: 2rem;
    text-align: center;
}

.post-body p{
    font-size: 1rem;
    text-align: justify;
    text-indent: 2rem;
    margin-top: 2rem;
}

.post-info{
    display: flex;
}

.post-time{
    margin-left: 2rem;
}