.post-title h1{
    font-size: 2rem;
    text-align: center;
}

.post-body p{
    font-size: 1rem;
    text-align: justify;
    text-indent: 2rem;
    margin-top: 2rem;
}

.post-info{
    display: flex;
}

.post-time{
    margin-left: 2rem;
}

.post-main img{
    display: block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}