{% extends "admin/admin_base.html" %}

{% block content %}

<!--显示闪现的消息-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ur>
    {% for message in messages %}
    <div class="alert alert-success" style="text-align: center">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ur>
{% endif %}
{% endwith %}

<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <caption>用户管理</caption>
        <tr>
            <th>用户名</th>
            <th>最后活跃时间</th>
            <th>操作</th>
        </tr>
        <!-- 取出用户数据 -->
        {% for user in users_info %}
        <tr>
            <td style="display:table-cell; vertical-align:middle!important;">{{ user.username }}</td>
            <td style="display:table-cell; vertical-align:middle!important;">{{ user.last_seen|time_filter }}</td>
            <!-- 将文章id通过get方式传过去 -->
            <td>
                <a href="{{ url_for('edit_user',user_id=user.id) }}" data-toggle="tooltip" data-placement="top" title=""
                   data-original-title="修改">
                    <i class="mdi mdi-24px mdi-pencil-circle"></i>
                </a>
                <a class="post-del" href="{{ url_for('dele_user',user_id=user.id) }}" data-toggle="tooltip"
                   data-placement="top" title=""
                   data-original-title="删除">
                    <i class="mdi mdi-24px mdi-delete-circle"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!--分页-->
    {{pagination.links}}
</div>
{% endblock %}