{% extends "admin/admin_base.html" %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            个人资料管理
        </h3>
    </div>
    <div class="panel-body">
        <div class="userinfo" style="display: flex;justify-content: flex-start;align-items: center;">
            <div style="height: 138px;width: 138px;max-height: 138px;max-height: 138px">
                <img class="img-thumbnail" src="{{ user.avatar(128) }}">
            </div>
            <div style="margin-left: 20px">
                <h1>用户名: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>最近登录: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('user.edit_profile') }}">个人资料编辑</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}