<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MAPLE-记录·时光</title>
    <meta name="keywords" content="枫雨,maple,枫林幻境,博客"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/comments.css" type="text/css"/>
    <link rel="stylesheet" href="../static/css/post.css" type="text/css"/>
    <style type="text/css">
        body, td, th {
            font-family: calibri, "宋体", Arial, sans-serif;
        }
    </style>
</head>
<body>
<header id="container2">
    <div class="quotes">
        <div class="text5">MAPLE</div>
        <p>浮生若梦，何惧风花雪月？今朝有梦今日梦，明日花开明日赏，短暂人生，让自己过得心安理得便好。</p>
    </div>
    <div id="nav" class="menu-container">
        <ul id="menu-0" class="menu">
            <li class="nav_active"><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="#">日志</a></li>
            <li><a href="#">相册</a></li>
            <li><a href="{{ url_for('liuyan') }}">留言板</a></li>
            <li><a href="#">说说</a></li>
            <li><a href="#">个人档</a></li>
            <li><a href="#">音乐</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">登录</a></li>
            {% else %}
            <!--<li><a href="{{ url_for('user', username=current_user.username) }}">{{current_user.username}}</a>-->
            <li><a href="{{ url_for('user', username=current_user.username) }}">后台</a>
            </li>
            {% endif %}
        </ul>
    </div>
</header>
<div id="main" class="main-narrow">
    {% block content %} {% endblock %}
</div>
<footer id="main-footer">
    <div id="footer-copy">Corpyright &copy; 2020 贵州师范大学 -- 路坤 ALL Rights Reserved. 版权所有&nbsp;&nbsp; MAPLE博客 &nbsp;-&nbsp;
        记录 &bull; 时光
    </div>
</footer>
<!--footer-->
<script type="text/javascript" src="../static/admin/js/jquery.min.js"></script>
<!--计算文章宽度-->
<script type="text/javascript" src="../static/js/responsive.js"></script>
<!--树叶飘落特效-->
<script src="../static/r/breakpoints.min.js"></script>
<script src="../static/r/main.js"></script>
<script src="../static/r/pf.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').wpSuperSnow({
            flakes: ['../static/r/6.png', '../static/r/5.png', '../static/r/4.png', '../static/r/2.png', '../static/r/1.png', '../static/r/3.png', '../static/r/2.png', '../static/r/1.png',],
            totalFlakes: '90',
            zIndex: '999999',
            maxSize: '30',
            maxDuration: '20',
            useFlakeTrans: false
        })
    })
</script>
</body>
</html>


