{% extends "base.html" %}

{% block content %}
<h1>修改文章</h1>
<form action="" method="post">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <label>{{ form.post_title.label }}</label>
        {{ form.post_title(size=100, class="form-control") }}
        {% for error in form.post_title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>{{ form.post_body.label }}</label>
        {{ form.post_body(cols=100, rows=10, class="form-control") }}<br>
        {% for error in form.post_body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>
{% endblock %}