{% extends "base.html" %}

{% block content %}

<!--显示闪现的消息-->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ur>
    {% for message in messages %}
    <div class="alert alert-success" style="text-align: center">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <li>{{ message }}</li>
    </div>
    {% endfor %}
</ur>
{% endif %}
{% endwith %}

<h1>个人资料编辑</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label>{{ form.username.label }}</label>
        {{ form.username(size=32, class="form-control") }}
        {% for error in form.username.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <!--关于我-->
    <div class="form-group">
        <label>{{ form.about_me.label }}</label>
        {{ form.about_me(cols=50, rows=4, class="form-control") }}
        {% for error in form.about_me.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>

{% endblock %}