{% extends 'base.html' %}

{% block content %}
<div id="comments">
    <div class="respond">
        <span class="widget-title text-left">添加新评论</span>
        <form method="post" action="" id="comment-form">
            <p>
                <textarea rows="5" name="text" id="textarea" placeholder="在这里输入你的评论..." style="resize:none;"
                          required=""></textarea>
            </p>
            <div class="info">
                <input class="comment-input" type="text" name="author" id="author" placeholder="称呼 *" value=""
                       required="">
                <input class="comment-input" type="email" name="mail" id="mail" placeholder="电子邮件 *" value=""
                       required="">
                <input class="comment-input" type="url" name="url" id="url" disabled placeholder="网站" value="">
            </div>
            <p><input type="submit" value="提交评论" class="button" id="submit"></p>
        </form>
    </div>
</div>
<div class="line"></div>
<div class="message"></div>
{% endblock %}