<div id="comments">
    <div id="respond-post-102" class="respond">
        <span id="response" class="widget-title text-left">添加新评论</span>
        <form method="post" action="https://blog.imwlw.com/archives/docker_compose_lnmp/comment" id="comment-form">
            <p>
                <textarea rows="5" name="text" id="textarea" placeholder="在这里输入你的评论..." style="resize:none;"
                          required=""></textarea>
            </p>
            <input class="comment-input" type="text" name="author" id="author" placeholder="称呼 *" value="" required="">
            <input class="comment-input" type="email" name="mail" id="mail" placeholder="电子邮件 *" value="" required="">
            <input class="comment-input" type="url" name="url" id="url" placeholder="网站" value="">
            <p><input type="submit" value="提交评论" data-now="刚刚" data-init="提交评论" data-posting="提交评论中..."
                      data-posted="评论提交成功" data-empty-comment="必须填写评论内容" class="button" id="submit"></p>
        </form>
    </div>
</div>